# Performing Basic Feature Engineering in Keras 

## Learning objectives


1. Create an input pipeline using tf.data.
2. Engineer features to create categorical, crossed, and numerical feature columns.


## Introduction 
In this lab, we utilize feature engineering to improve the prediction of housing prices using a Keras Sequential Model.

Each learning objective will correspond to a __#TODO__ in the notebook where you will complete the notebook cell's code before running. Refer to the [solution](../solutions/3_keras_basic_feat_eng.ipynb) for reference.

Start by importing the necessary libraries for this lab.

In [ ]:
#!sudo chown -R jupyter:jupyter /home/jupyter/training-data-analyst

In [1]:
# Install Sklearn
!python3 -m pip install --user scikit-learn

Requirement already satisfied: scikit-learn in /home/osboxes/anaconda3/lib/python3.11/site-packages (1.2.2)
Requirement already satisfied: numpy>=1.17.3 in /home/osboxes/anaconda3/lib/python3.11/site-packages (from scikit-learn) (1.26.4)
Requirement already satisfied: scipy>=1.3.2 in /home/osboxes/anaconda3/lib/python3.11/site-packages (from scikit-learn) (1.11.4)
Requirement already satisfied: joblib>=1.1.1 in /home/osboxes/anaconda3/lib/python3.11/site-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /home/osboxes/anaconda3/lib/python3.11/site-packages (from scikit-learn) (2.2.0)

### Restart the kernel

After you install the packages, you need to restart the notebook kernel so that it can find the packages. (Click **Kernel > Restart Kernel > Restart**).

In [3]:
import os
import tensorflow.keras

import matplotlib.pyplot as plt
import pandas as pd
import tensorflow as tf

from tensorflow import feature_column as fc
from tensorflow.keras import layers
from sklearn.model_selection import train_test_split
from keras.utils import plot_model

print("TensorFlow version: ",tf.version.VERSION)

TensorFlow version:  2.16.1

Many of the Google Machine Learning Courses Programming Exercises use the  [California Housing Dataset](https://developers.google.com/machine-learning/crash-course/california-housing-data-description
), which contains data drawn from the 1990 U.S. Census.  Our lab dataset has been pre-processed so that there are no missing values.

First, let's download the raw .csv data by copying the data from a cloud storage bucket.

In [ ]:
#if not os.path.isdir("../data"):
#    os.makedirs("../data")

In [ ]:
#!gsutil cp gs://cloud-training/mlongcp/v3.0_MLonGC/toy_data/housing_pre-proc_toy.csv ../data

In [5]:
!ls -l ../../../data/

total 1068
-rw-rw-r-- 1 osboxes osboxes 142150 Jun 29 13:09 housing_pre-proc_toy.csv
-rw-rw-r-- 1 osboxes osboxes 141449 Jun 11 21:23 traffic-taxi-test.csv
-rw-rw-r-- 1 osboxes osboxes 662312 Jun 11 21:23 traffic-taxi-train.csv
-rw-rw-r-- 1 osboxes osboxes 141062 Jun 11 21:23 traffic-taxi-valid.csv

Now, let's read in the dataset just copied from the cloud storage bucket and create a Pandas dataframe.

In [20]:
housing_df = pd.read_csv('../../../data/housing_pre-proc_toy.csv', on_bad_lines='skip')
housing_df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41,880,129,322,126,8.3252,452600,NEAR BAY
1,-122.22,37.86,21,7099,1106,2401,1138,8.3014,358500,NEAR BAY
2,-122.24,37.85,52,1467,190,496,177,7.2574,352100,NEAR BAY
3,-122.25,37.85,52,1274,235,558,219,5.6431,341300,NEAR BAY
4,-122.25,37.85,52,1627,280,565,259,3.8462,342200,NEAR BAY

We can use .describe() to see some summary statistics for the numeric fields in our dataframe. Note, for example, the count row and corresponding columns. The count shows 2500.000000 for all feature columns. Thus, there are no missing values.

In [7]:
housing_df.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,2500.000000,2500.000000,2500.000000,2500.000000,2500.000000,2500.000000,2500.000000,2500.000000,2500.000000
mean,-121.501836,37.802288,30.088400,2522.734000,491.862400,1246.225200,458.122000,3.694312,170288.731200
std,1.015963,0.803090,13.878416,1988.411988,362.499497,925.075463,341.744308,1.859422,97550.278529
min,-124.300000,36.130000,2.000000,12.000000,4.000000,18.000000,2.000000,0.499900,22500.000000
25%,-122.200000,37.600000,18.000000,1420.750000,282.000000,718.000000,263.000000,2.357875,92950.000000
50%,-122.030000,37.800000,30.000000,2052.000000,402.000000,1030.500000,374.500000,3.262200,150800.000000
75%,-120.697500,37.960000,41.000000,3007.250000,581.250000,1488.250000,538.000000,4.662975,219650.000000
max,-118.910000,41.950000,52.000000,28258.000000,3864.000000,12203.000000,3701.000000,15.000100,500001.000000

####  Split the dataset for ML

The dataset we loaded was a single CSV file. We will split this into train, validation, and test sets.

In [8]:
train, test = train_test_split(housing_df, test_size=0.2)
train, val = train_test_split(train, test_size=0.2)

print(len(train), 'train examples')
print(len(val), 'validation examples')
print(len(test), 'test examples')

1600 train examples
400 validation examples
500 test examples

Now, we need to output the split files.  We will specifically need the test.csv later for testing.  You should see the files appear in the home directory.

In [11]:
type(train)

pandas.core.frame.DataFrame

In [9]:
train.to_csv('../../../data/housing-train.csv', encoding='utf-8', index=False)

In [10]:
val.to_csv('../../../data/housing-val.csv', encoding='utf-8', index=False)

In [12]:
test.to_csv('../../../data/housing-test.csv', encoding='utf-8', index=False)

In [15]:
housing_df.isnull().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
ocean_proximity       0
dtype: int64

In [14]:
!head ../../../data/housing*.csv

==> ../../../data/housing_pre-proc_toy.csv <==
longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
-122.23,37.88,41,880,129,322,126,8.3252,452600,NEAR BAY
-122.22,37.86,21,7099,1106,2401,1138,8.3014,358500,NEAR BAY
-122.24,37.85,52,1467,190,496,177,7.2574,352100,NEAR BAY
-122.25,37.85,52,1274,235,558,219,5.6431,341300,NEAR BAY
-122.25,37.85,52,1627,280,565,259,3.8462,342200,NEAR BAY
-122.25,37.85,52,919,213,413,193,4.0368,269700,NEAR BAY
-122.25,37.84,52,2535,489,1094,514,3.6591,299200,NEAR BAY
-122.25,37.84,52,3104,687,1157,647,3.12,241400,NEAR BAY
-122.26,37.84,42,2555,665,1206,595,2.0804,226700,NEAR BAY

==> ../../../data/housing-test.csv <==
longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
-122.23,37.79,48,1696,396,1481,343,2.0375,122500,NEAR BAY
-122.07,37.69,29,2304,618,1021,552,2.5362,203800,NEAR BAY
-119.7,36.81,32,2623,528,1570,492,2.7159,68000,INLAND
-122.27,37.82,43,1007,312,558,253,1.7348,137500,NEAR BAY
-120.55,38.12,10,1566,325,785,291,2.5,116100,INLAND
-122.27,37.85,50,1279,300,675,255,1.9028,150800,NEAR BAY
-121.84,39.73,52,857,232,520,198,0.987,112500,INLAND
-122.24,37.8,52,888,168,360,175,2.1944,211500,NEAR BAY
-122.0,37.99,28,4035,641,1881,659,5.4607,192300,INLAND

==> ../../../data/housing-train.csv <==
longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
-122.08,37.99,19,4657,739,1914,732,5.0509,199900,NEAR BAY
-120.63,38.73,11,4577,836,1944,700,4.0675,140200,INLAND
-119.74,36.77,30,2427,482,1375,518,2.5737,76900,INLAND
-119.92,38.91,15,3831,625,984,328,5.0718,162500,INLAND
-122.08,37.72,31,3866,531,1368,521,6.187,340400,NEAR BAY
-119.56,36.7,40,1195,326,1135,315,2.1182,58900,INLAND
-121.52,39.51,30,3085,610,1688,575,2.334,72200,INLAND
-121.72,37.98,5,7105,1143,3523,1088,5.0468,168800,INLAND
-119.69,36.79,5,2613,476,1490,481,4.0993,83000,INLAND

==> ../../../data/housing-val.csv <==
longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
-119.78,36.77,45,1315,256,666,240,2.3562,58100,INLAND
-122.13,37.67,38,2012,347,880,332,3.1734,181600,NEAR BAY
-120.54,38.75,9,3006,540,1102,418,3.9812,136600,INLAND
-122.27,38.04,47,1685,405,835,372,2.3103,134500,NEAR BAY
-122.24,37.83,52,2449,312,916,316,8.1194,471600,NEAR BAY
-122.21,37.81,52,1389,212,510,224,5.2402,296400,NEAR BAY
-122.23,37.8,52,1252,299,844,280,2.3929,111900,NEAR BAY
-122.31,38.01,18,4123,874,1895,772,3.2759,195000,NEAR BAY
-119.72,36.72,15,1713,246,766,232,6.8162,127200,INLAND

## Lab Task 1: Create an input pipeline using tf.data

Next, we will wrap the dataframes with [tf.data](https://www.tensorflow.org/guide/datasets). This will enable us  to use feature columns as a bridge to map from the columns in the Pandas dataframe to features used to train the model. 

Here, we create an input pipeline using tf.data.  This function is missing two lines.  Correct and run the cell.

In [38]:
housing_df1 = housing_df.copy()
print("dataframe type :" +str(type(housing_df1)))
l1 = housing_df1.pop('median_house_value')
#dict(l1)
(dict(housing_df1),l1)
#dict(housing_df1)

dataframe type :<class 'pandas.core.frame.DataFrame'>

({'longitude': 0      -122.23
  1      -122.22
  2      -122.24
  3      -122.25
  4      -122.25
           ...
  2495   -122.16
  2496   -122.19
  2497   -122.25
  2498   -122.16
  2499   -122.13
  Name: longitude, Length: 2500, dtype: float64,
  'latitude': 0       37.88
  1       37.86
  2       37.85
  3       37.85
  4       37.85
          ...
  2495    39.74
  2496    39.74
  2497    39.79
  2498    39.78
  2499    39.74
  Name: latitude, Length: 2500, dtype: float64,
  'housing_median_age': 0       41
  1       21
  2       52
  3       52
  4       52
          ..
  2495    20
  2496    39
  2497    16
  2498    32
  2499    20
  Name: housing_median_age, Length: 2500, dtype: int64,
  'total_rooms': 0        880
  1       7099
  2       1467
  3       1274
  4       1627
          ...
  2495     707
  2496    4179
  2497    2127
  2498    1288
  2499    1401
  Name: total_rooms, Length: 2500, dtype: int64,
  'total_bedrooms': 0        129
  1       1106
  2        190
  3        235
  4        280
          ...
  2495     126
  2496     814
  2497     412
  2498     221
  2499     280
  Name: total_bedrooms, Length: 2500, dtype: int64,
  'population': 0        322
  1       2401
  2        496
  3        558
  4        565
          ...
  2495     337
  2496    2111
  2497    1104
  2498     562
  2499     668
  Name: population, Length: 2500, dtype: int64,
  'households': 0        126
  1       1138
  2        177
  3        219
  4        259
          ...
  2495     125
  2496     809
  2497     369
  2498     203
  2499     250
  Name: households, Length: 2500, dtype: int64,
  'median_income': 0       8.3252
  1       8.3014
  2       7.2574
  3       5.6431
  4       3.8462
           ...
  2495    3.0469
  2496    2.3507
  2497    3.0469
  2498    2.3250
  2499    2.2569
  Name: median_income, Length: 2500, dtype: float64,
  'ocean_proximity': 0       NEAR BAY
  1       NEAR BAY
  2       NEAR BAY
  3       NEAR BAY
  4       NEAR BAY
            ...
  2495      INLAND
  2496      INLAND
  2497      INLAND
  2498      INLAND
  2499      INLAND
  Name: ocean_proximity, Length: 2500, dtype: object},
 0       452600
 1       358500
 2       352100
 3       341300
 4       342200
          ...
 2495     85000
 2496     65600
 2497     72200
 2498     69600
 2499     94300
 Name: median_house_value, Length: 2500, dtype: int64)

In [39]:
# A utility method to create a tf.data dataset from a Pandas Dataframe

def df_to_dataset(dataframe, shuffle=True, batch_size=32):
    dataframe = dataframe.copy()
    
   # TODO 1a -- Your code here
    labels = dataframe.pop('median_house_value')
    ds = tf.data.Dataset.from_tensor_slices((dict(dataframe), labels))
    if shuffle:
        ds = ds.shuffle(buffer_size=len(dataframe))
    ds = ds.batch(batch_size)
    return ds

Next we initialize the training and validation datasets.

In [41]:
batch_size = 32
train_ds = df_to_dataset(train)
val_ds = df_to_dataset(val, shuffle=False, batch_size=batch_size)

Now that we have created the input pipeline, let's call it to see the format of the data it returns. We have used a small batch size to keep the output readable.

In [43]:
# TODO 1b -- Your code here
for feature_batch,label_batch in train_ds.take(1):
    print("feature_batch type: ", type(feature_batch))
    print("label_batch type: ", type(label_batch))
    print("feature list: ", list(feature_batch.keys()))
    print("batch of households: ", feature_batch['households'])
    print("batch of ocean_proximity: ", feature_batch['ocean_proximity'])
    print("batch of target: ", label_batch)

feature_batch type:  <class 'dict'>
label_batch type:  <class 'tensorflow.python.framework.ops.EagerTensor'>
feature list:  ['longitude', 'latitude', 'housing_median_age', 'total_rooms', 'total_bedrooms', 'population', 'households', 'median_income', 'ocean_proximity']
batch of households:  tf.Tensor(
[ 182  448  694  351  278  422  373  817  677  481  698  432 1115  369
  640  900  366  396  420  168  530  460  281  734  292  386  267  350
  555  455  228  354], shape=(32,), dtype=int64)
batch of ocean_proximity:  tf.Tensor(
[b'INLAND' b'NEAR BAY' b'NEAR BAY' b'<1H OCEAN' b'INLAND' b'NEAR BAY'
 b'NEAR BAY' b'NEAR BAY' b'NEAR BAY' b'INLAND' b'INLAND' b'NEAR BAY'
 b'INLAND' b'NEAR BAY' b'INLAND' b'INLAND' b'NEAR BAY' b'INLAND' b'INLAND'
 b'INLAND' b'NEAR OCEAN' b'NEAR BAY' b'INLAND' b'NEAR BAY' b'NEAR BAY'
 b'INLAND' b'NEAR BAY' b'NEAR BAY' b'NEAR BAY' b'INLAND' b'NEAR BAY'
 b'NEAR BAY'], shape=(32,), dtype=string)
batch of target:  tf.Tensor(
[ 66000 368600 210200 275000  52000 182800 355600 256000 169300  49400
 210100  86100  84500 165500 293200 176900 212600  75800  87100  88300
  69500  97500  62800 331600 183300 167500 134500 211300 389500  87300
 127000  98700], shape=(32,), dtype=int64)

2024-06-29 20:56:45.668472: W tensorflow/core/framework/local_rendezvous.cc:404] Local rendezvous is aborting with status: OUT_OF_RANGE: End of sequence

We can see that the dataset returns a dictionary of column names (from the dataframe) that map to column values from rows in the dataframe.

#### Numeric columns
The output of a feature column becomes the input to the model. A numeric is the simplest type of column. It is used to represent real valued features. When using this column, your model will receive the column value from the dataframe unchanged.

In the California housing prices dataset, most columns from the dataframe are numeric.  Let' create a variable called **numeric_cols** to hold only the numerical feature columns.

In [49]:
# TODO 1c -- Your code here
#housing_df.info()
numeric_cols=list(housing_df.columns)
numeric_cols

['longitude',
 'latitude',
 'housing_median_age',
 'total_rooms',
 'total_bedrooms',
 'population',
 'households',
 'median_income',
 'median_house_value',
 'ocean_proximity']

#### Scaler function
It is very important for numerical variables to get scaled before they are "fed" into the neural network. Here we use min-max scaling. Here we are creating a function named 'get_scal' which takes a list of numerical features and returns a 'minmax' function, which will be used in tf.feature_column.numeric_column() as normalizer_fn in parameters. 'Minmax' function itself takes a 'numerical' number from a particular feature and return scaled value of that number.

Next, we scale the numerical feature columns that we assigned to the variable "numeric cols".

In [50]:
# Scalar def get_scal(feature):
# TODO 1d -- Your code here
def get_scal(feature):
    def minmax(x):
        mini=train[feature].min()
        maxi=train[feature].max()
        return (x-mini)/(maxi-mini)
    return minmax

In [51]:
# TODO 1e -- Your code here
feature_columns = []
for header in numeric_cols:
    feature_columns.append(fc.numeric_column(header, normalizer_fn = get_scal(header)))

WARNING:tensorflow:From /tmp/ipykernel_4569/3254650526.py:4: numeric_column (from tensorflow.python.feature_column.feature_column_v2) is deprecated and will be removed in a future version.
Instructions for updating:
Use Keras preprocessing layers instead, either directly or via the `tf.keras.utils.FeatureSpace` utility. Each of `tf.feature_column.*` has a functional equivalent in `tf.keras.layers` for feature preprocessing when training a Keras model.

Next, we should validate the total number of feature columns.  Compare this number to the number of numeric features you input earlier.

In [ ]:
print('Total number of feature coLumns: ', len(feature_columns))

### Using the Keras Sequential Model

Next, we will run this cell to compile and fit the Keras Sequential model.

In [ ]:
# Model create
feature_layer = tf.keras.layers.DenseFeatures(feature_columns, dtype='float64')

model = tf.keras.Sequential([
  feature_layer,
  layers.Dense(12, input_dim=8, activation='relu'),
  layers.Dense(8, activation='relu'),
  layers.Dense(1, activation='linear',  name='median_house_value')
])

# Model compile
model.compile(optimizer='adam',
              loss='mse',
              metrics=['mse'])

# Model Fit
history = model.fit(train_ds,
                    validation_data=val_ds,
                    epochs=32)

Next we show loss as  Mean Square Error (MSE).  Remember that MSE is the most commonly used regression loss function. MSE is the sum of squared distances between our target variable (e.g. housing median age) and predicted values.

In [ ]:
loss, mse = model.evaluate(train_ds)
print("Mean Squared Error", mse)

#### Visualize the model loss curve

Next, we will use matplotlib to draw the model's loss curves for training and validation.  A line plot is also created showing the mean squared error loss over the training epochs for both the train (blue) and test (orange) sets.

In [ ]:
def plot_curves(history, metrics):
    nrows = 1
    ncols = 2
    fig = plt.figure(figsize=(10, 5))

    for idx, key in enumerate(metrics):  
        ax = fig.add_subplot(nrows, ncols, idx+1)
        plt.plot(history.history[key])
        plt.plot(history.history['val_{}'.format(key)])
        plt.title('model {}'.format(key))
        plt.ylabel(key)
        plt.xlabel('epoch')
        plt.legend(['train', 'validation'], loc='upper left');

In [ ]:
plot_curves(history, ['loss', 'mse'])

### Load test data

Next, we read in the test.csv file and validate that there are no null values.

Again, we can use .describe() to see some summary statistics for the numeric fields in our dataframe.  The count shows 500.000000 for all feature columns. Thus, there are no missing values.

In [ ]:
test_data = pd.read_csv('../data/housing-test.csv')
test_data.describe()

Now that we have created an input pipeline using tf.data and compiled a Keras Sequential Model, we now create the input function for the test data and to initialize the test_predict variable.

In [ ]:
# TODO 1f -- Your code here

In [ ]:
test_predict = test_input_fn(dict(test_data))

#### Prediction:  Linear Regression

Before we begin to feature engineer our feature columns, we should predict the median house value.  By predicting the median house value now, we can then compare it with the median house value after feature engineering.

To predict with Keras, you simply call [model.predict()](https://keras.io/models/model/#predict) and pass in the housing features you want to predict the median_house_value for. Note:  We are predicting the model locally.

In [ ]:
predicted_median_house_value = model.predict(test_predict)

Next, we run two predictions in separate cells - one where ocean_proximity=INLAND and one where ocean_proximity= NEAR OCEAN.

In [ ]:
# Ocean_proximity is INLAND
model.predict({
    'longitude': tf.convert_to_tensor([-121.86]),
    'latitude': tf.convert_to_tensor([39.78]),
    'housing_median_age': tf.convert_to_tensor([12.0]),
    'total_rooms': tf.convert_to_tensor([7653.0]),
    'total_bedrooms': tf.convert_to_tensor([1578.0]),
    'population': tf.convert_to_tensor([3628.0]),
    'households': tf.convert_to_tensor([1494.0]),
    'median_income': tf.convert_to_tensor([3.0905]),
    'ocean_proximity': tf.convert_to_tensor(['INLAND'])
}, steps=1)

In [ ]:
# Ocean_proximity is NEAR OCEAN
model.predict({
    'longitude': tf.convert_to_tensor([-122.43]),
    'latitude': tf.convert_to_tensor([37.63]),
    'housing_median_age': tf.convert_to_tensor([34.0]),
    'total_rooms': tf.convert_to_tensor([4135.0]),
    'total_bedrooms': tf.convert_to_tensor([687.0]),
    'population': tf.convert_to_tensor([2154.0]),
    'households': tf.convert_to_tensor([742.0]),
    'median_income': tf.convert_to_tensor([4.9732]),
    'ocean_proximity': tf.convert_to_tensor(['NEAR OCEAN'])
}, steps=1)

The arrays returns a predicted value.  What do these numbers mean?  Let's compare this value to the test set.  

Go to the test.csv you read in a few cells up.  Locate the first line and find the median_house_value - which should be 249,000 dollars near the ocean. What value did your model predicted for the median_house_value? Was it a solid model performance? Let's see if we can improve this a bit with feature engineering!

## Lab Task 2: Engineer features to create categorical and numerical features

Now we create a cell that indicates which features will be used in the model.  
Note:  Be sure to bucketize 'housing_median_age' and ensure that 'ocean_proximity' is one-hot encoded.  And, don't forget your numeric values!

In [ ]:
# TODO 2a -- Your code here

Next, we scale the numerical, bucktized, and categorical feature columns that we assigned to the variables in the preceding cell.

In [ ]:
# Scalar def get_scal(feature):
def get_scal(feature):
    def minmax(x):
        mini = train[feature].min()
        maxi = train[feature].max()
        return (x - mini)/(maxi-mini)
        return(minmax)

In [ ]:
# All numerical features - scaling
feature_columns = []
for header in numeric_cols:
    scal_input_fn = get_scal(header)
    feature_columns.append(fc.numeric_column(header,
                                             normalizer_fn=scal_input_fn))

### Categorical Feature
In this dataset, 'ocean_proximity' is represented as a string.  We cannot feed strings directly to a model. Instead, we must first map them to numeric values. The categorical vocabulary columns provide a way to represent strings as a one-hot vector.

Next, we create a categorical feature using 'ocean_proximity'.

In [ ]:
# TODO 2b -- Your code here

### Bucketized Feature

Often, you don't want to feed a number directly into the model, but instead split its value into different categories based on numerical ranges. Consider our raw data that represents a homes' age. Instead of representing the house age as a numeric column, we could split the home age into several buckets using a [bucketized column](https://www.tensorflow.org/api_docs/python/tf/feature_column/bucketized_column). Notice the one-hot values below describe which age range each row matches.

Next we create a bucketized column using 'housing_median_age'

In [ ]:
# TODO 2c -- Your code here

### Feature Cross

Combining features into a single feature, better known as [feature crosses](https://developers.google.com/machine-learning/glossary/#feature_cross), enables a model to learn separate weights for each combination of features.

Next, we create a feature cross of 'housing_median_age' and 'ocean_proximity'.

In [ ]:
# TODO 2d -- Your code here

Next, we should validate the total number of feature columns.  Compare this number to the number of numeric features you input earlier.

In [ ]:
print('Total number of feature columns: ', len(feature_columns))

Next, we will run this cell to compile and fit the Keras Sequential model.  This is the same model we ran earlier.

In [ ]:
# Model create
feature_layer = tf.keras.layers.DenseFeatures(feature_columns,
                                              dtype='float64')

model = tf.keras.Sequential([
  feature_layer,
  layers.Dense(12, input_dim=8, activation='relu'),
  layers.Dense(8, activation='relu'),
  layers.Dense(1, activation='linear',  name='median_house_value')
])

# Model compile
model.compile(optimizer='adam',
              loss='mse',
              metrics=['mse'])

# Model Fit
history = model.fit(train_ds,
                    validation_data=val_ds,
                    epochs=32)

Next, we show loss and mean squared error then plot the model.

In [ ]:
loss, mse = model.evaluate(train_ds)
print("Mean Squared Error", mse)

In [ ]:
plot_curves(history, ['loss', 'mse'])

Next we create a prediction model.  Note:  You may use the same values from the previous prediciton.

In [ ]:
# TODO 2e -- Your code here

### Analysis 

The array returns a predicted value.  Compare this value to the test set you ran earlier. Your predicted value may be a bit better.

Now that you have your "feature engineering template" setup, you can experiment by creating additional features.  For example, you can create derived features, such as households per population, and see how they impact the model.  You can also experiment with replacing the features you used to create the feature cross.

Copyright 2022 Google Inc.
Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file except in compliance with the License. You may obtain a copy of the License at
http://www.apache.org/licenses/LICENSE-2.0
Unless required by applicable law or agreed to in writing, software distributed under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the License for the specific language governing permissions and limitations under the License.